* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------- Navbar --------------- */
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-hyum1k-MuiToolbar-root {
  min-height: 0 !important;
}

/* ---------- Sidebar --------------- */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
  position: fixed;
}

.sidebar-list {
  padding: 50px 20px;
}

.sidebar-list-text {
  margin-bottom: 0 !important;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 10px;
}

/* ---------- Contacts ------------- */
.contacts-container {
  display: flex;
}

.contact-list-container {
  flex: 4;
  height: 100vh;
  overflow: scroll;
  padding: 0 30px;
}

.search-contacts {
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.search-contacts input {
  width: 100%;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.contact-list-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
}

.contacts-text {
  padding-left: 20px;
}

.contacts-text {
  font-size: 16px;
}

.contacts-text p {
  color: #3b4a54;
  font-size: 14px;
}

hr {
  border: 0.5px solid #e0e0e0;
}

/* ------------- Contact details ------------- */
.contact-details {
  width: 500px;
  min-width: 500px;
  border-left: 1px solid #e0e0e0;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.contact-details-header {
  background-color: #252e3e;
  min-height: 80px;
  display: flex;
  align-items: center;
}

.contact-details-header,
.contact-details-body {
  padding: 0 20px;
}

.contact-details-body {
  background-color: #fff;
  flex: 1;
}

.contact-info {
  display: flex;
  align-items: center;
  padding: 30px 10px;
}

.contact-info-text {
  padding-left: 20px;
  flex: 1;
}

.contact-info-text input {
  width: 100%;
  border: none;
  outline: none;
}

.contact-info-text h3,
.edit-name-input {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
}

.contact-info-text p,
.edit-contact-input {
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0;
}

@media only screen and (max-width: 1199px) {
  .contacts-container {
    margin-top: 50px;
  }
}

/* ------- Form ---------- */
.submit-form-btn {
  background-color: #252e3e;
  color: #fff;
  margin-top: 10px;
}

.submit-form-btn:hover {
  background-color: #252e3e;
}
